name: ci

on:
  push:
    branches:
      - 'main'

jobs:
  docker-build-push:
      runs-on: ubuntu-latest
      steps:
        -
          name: Set up QEMU
          uses: docker/setup-qemu-action@v1
        -
          name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v1
        -
          name: Login to DockerHub
          uses: docker/login-action@v1 
          with:
            username: ${{ secrets.DOCKERUSER }}
            password: ${{ secrets.DOCKERHUB }}
        -
          name: Build and push
          id: docker_build
          uses: docker/build-push-action@v2
          with:
            context: .
            file: ../Dockerfile
            platforms: linux/amd64
            push: true
            tags: pythonking1/python-helloworld:latest
        -
          name: Image digest
          run: echo ${{ steps.docker_build.outputs.digest }}
